* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.mont {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-content: center;
    flex-flow: column wrap;
}

[class*="col-"] {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 30px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

@media only screen and (max-width: 992px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}

footer {
    font-family: 'Poppins', sans-serif;
    justify-content: flex-end;
}

.center {
    background-color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.img {
    align-content: flex-end;
}

.libre {
    font-family: 'Libre Baskerville', serif;
}

.intro {
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.powder {
    background-color: powderblue;
}

h2 {
   padding-bottom: 15px;
}

p {
    margin: 0px;
}

.p-bot{
    padding-bottom: 15px;
}

.white {
    background-color: white;
}